# frozen_string_literal: true

SETTINGS = {
  url_base: 'http://form.biennalenature.org',
  main_site_url: 'http://biennalenature.org',

  smtp_server: 'smtp.gmail.com',
  smtp_port: 587,
  smtp_user_name: 'biennialnature@gmail.com',
  smtp_password: '',
  smtp_domain: 'biennalenature.org',
  smtp_to: 'biennialnature@gmail.com',

  pb_public_key: '',
  pb_private_key: '',

  sandbox: 0
}.freeze
