.terms__text
  %h3 Концепція
  %p Дослідження взаємин людини і довкілля, конфлікту цивілізації та природи, урбаністичного середовища, екзотичних крайобразів, флори і фауни. Така палітра пропонує різноманітні експерименти як з концепціями, так і техніками.
  %h3 Умови конкурсу
  %ol
    %li
      До участі в конкурсі запрошуються всі фотографи України, в тому числі молодь в двох вікових категоріях (датою відліку вважається 25 квітня 2020 року):
      %ul.dash
        %li До 15 років включно;
        %li Від 16 до 20 років включно.
    %li
      Номінації:
      %ol
        %li
          %b Слід людини
          %br
          пейзажі на екологічну тематику, урбанізація, ландшафти, філософське бачення екологічної тематики, міські пейзажі, взаємодія людини і природи
        %li
          %b Пейзаж, флора і фауна
          %br
          пейзажі (недоторкана природа), фото тварин, фото рослин, макрозйомка
        %li
          %b Фото з висоти пташиного польоту
          %br
          фото з дрону, аерофотозйомка

    %li Кожен автор може подати максимально п’ять робіт окремо на кожну номінацію. Всі роботи із серій розглядатимуться як окремі.
    %li Тільки jpg. без стискання з наступними параметрами: 8 BIT, RGB, щонайменше&nbsp;2400 px по довшій стороні.
    %li Не допускається оформлення робіт у вигляді псевдопаспарту, полів, рамок. Зображення повинно бути навиліт.
    %li Не будуть подані на розгляд журі роботи, які раніше вже експонувалися на міжнародних фотосалонах і національних фотовиставках в Україні.
    %li
      Плата за участь (за організацію заходу «Природа 2020»):
      %br
      Якщо фотограф бере участь в 1-й номінації
      %ul.dash
        %li для всіх учасників&nbsp;&mdash; 150 грн;
        %li для членів НСФХУ&nbsp;&mdash; 100 грн;
        %li для учасників до 20 років&nbsp;&mdash; безкоштовна.

      Якщо фотограф бере участь в 2-ох і більше номінаціях
      %ul.dash
        %li для всіх учасників&nbsp;&mdash; 200 грн;
        %li для членів НСФХУ&nbsp;&mdash; 150 грн;
        %li для учасників до 20 років&nbsp;&mdash; безкоштовна.

    %li
      Журі:
      %ul.dash
        %li Тарас Дутка, НСФХУ, FIAP (AFIAP) - Івано-Франківськ
        %li Єжи Скіба, RSF - Жешув
        %li Вадим Оніщенко - Одеса

    %li Нагороди виставки: медалі та дипломи Національної спілки фотохудожників України, призи та цінні подарунки від спонсорів та співорганізаторів і партнерів, спеціальні призи: імені Петра Крупи Жешівського фотографічного товариства (за кращу роботу з висоти пташиного польоту), газети «День», ЦСМ, Amway,...
    %li Кожен учасник отримає ілюстрований каталог.
    %li
      Календар конкурсу:
      %ul.dash
        %li Остання дата прийому робіт — 25 квітня 2020
        %li Робота журі — 05-15 травня 2020
        %li Повідомлення рішення журі — травень 2020
        %li Відкриття виставки, церемонія нагородження — 05 червня 2020
        %li Пленер в Карпатах — 05-09 червня 2020
        %li Розсилка каталогів — літо 2020

    %li
      Натискаючи ПРОДОВЖИТИ, ви погоджуєтеся з наступиними умовами:
      %ul
        %li Мені належить виключне право на використання перелічених фоторобіт та виключне право дозволяти використання даних творів*.
        %li Згадані фотороботи не порушують прав фізичних осіб, які на них зображені.
        %li
          Стосовно зазначених робіт мною безкоштовно, безстроково та без умов надається оргкомітету Тринадцятої бієнале «ПРИРОДА 2020» дозвіл на:
          %ol
            %li Публічну демонстрацію і публічний показ даних творів.
            %li Відтворення даних творів, як складову частину поліграфічної продукції Тринадцятої бієнале «ПРИРОДА 2020».
            %li Публікацію зазначених робіт у фотожурналах та інших періодичних виданнях (в тому числі й електронних), а також їхнє розміщення на електронних носіях та в інтернеті (із зазначенням авторства).
        %li У випадку нагородження моїх робіт передаю їх оригінали у фонд оргкомітету Тринадцятої бієнале «ПРИРОДА 2020» зі збереженням за мною всіх авторських прав.
  %p У разі, якщо авторське право належить іншим особам (у випадку співавторства, роботи на замовлення тощо), фотографія може бути представлена на виставці за умови письмової згоди зазначених осіб (співавторів або власників творів). В таких випадках просимо за додатковою інформацією звертатись до організаторів.
  %p
    %b Увага!
    = "Якщо у вас виникли труднощі з реєстрацією через форму на сайті, пишіть на #{SiteConfig.smtp_user_name} для отримання альтернативного способу реєстрації."
