!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Реєстрація
  %body
    %p= "Доброго дня, #{@profile.name}"
    %p Дякуємо за реєстрацію на бієнале «Природа»
