.wrapper_menu
  .menu
    .logo.menu-transition
      %img.menu-transition{:alt => "logo", :src => "/images/logo.jpg"}
    %nav.menu-transition.js-main-nav
      %ul.nav
        %li.active<
          %a(href='#start') Старт
        %li<
          %a(href='#calendar') Календар виставки
        %li<
          %a(href='#awards') Нагороди
        %li<
          %a(href='#partners') Партнери
        %li<
          %a(href='#jury') Журі
        %li<
          %a(href='#catalogs') Каталоги

.slide#start
  .slide__bg
    %h2.bg-text
      5 червня
      %span.white &mdash; Всесвітній день охорони навколишнього середовища
    %br
    %h1.photo_logo.bg-text
      %span.white ХІІ
      Національна Бієнале
      %br
      %span.btitle ПРИРОДА 2018
  .p-copy © Євген Ком

-#      take part
= haml :_take_part


-#      calendar
.calendar#calendar
  .events
    %h3 Календар конкурсу
    %ul
      %li
        %span 25 квітня
        %h4 Остання дата прийому робіт
      %li
        %span 27-28 квітня
        %h4 Робота журі
      %li
        %span травень
        %h4 Повідомлення рішення журі
      %li
        %span 06 червня
        %h4 Відкриття виставки, церемонія нагородження
      %li
        %span 6-10 червня
        %h4 Фотопленер в Карпатах
      %li
        %span червень
        %h4 Розсилка каталогів


-#    sponsors
.partners.wrapper
  %h3 Організатори
  .partnerlist
    .parterline
      %a.partner{href: "http://www.if.gov.ua"}
        %img{alt: "Управління культури, національностей та релігій Івано-Франківської облдержадміністрації", src: "/images/Iv-Fr-Oblast-web.png"}
        %p.double-cont
          %span.third> Управління екології та природних ресурсів Івано&#8209;Франківської облдержадміністрації
          %span.third> Управління культури, національностей та релігій Івано&#8209;Франківської облдержадміністрації
          %span.third> Департамент освіти, науки і молодіжної політики Івано&#8209;Франківської облдержадміністрації
      %a.partner{href: "http://www.mvk.if.ua"}
        %img{alt: "Виконавчий комітет Івано-Франківської міської ради", src: "/images/Ivano-Frankivsk-mvk-web.png"}
        %p Виконавчий комітет <br> Івано-Франківської <br> міської ради
      %a.partner{href: "http://kultura-tsm.at.ua"}
        %img{alt: "Відділ культури Тисменицької райдержадміністрації", src: "/images/Tysmenycya-web.png"}
        %p Відділ культури Тисменицької райдержадміністрації
    .parterline.fe
      %a.partner{href: "http://www.photospilka.com"}
        %img{alt: "Івано-Франківська обласна організація НСФХУ", src: "/images/natsionalna-spilka-fotokhudozhnykiv-ukrainy-web.png"}
        %p Івано-Франківська обласна організація НСФХУ
      %a.partner{href: "http://www.ifkm.if.ua/"}
        %img{alt: "Івано-Франківський краєзнавчий музей", src: "/images/ratusza.jpg"}
        %p Івано-Франківський краєзнавчий музей
      %a.partner{href: "http://photocolumb.at.ua"}
        %img{alt: "фотоклуб «Колумб»", src: "/images/fotoklub-kolumb-web.png"}
        %p Народний фотоклуб «Колумб», Тисмениця
      %a.partner{href: "http://www.rsf.rzeszow.pl/"}
        %img{alt: "Rzeszowskie Stowarzyszenie Fotograficzne", src: "/images/RSF+.jpg"}
        %p Rzeszowskie Stowarzyszenie Fotograficzne

  %h3 Патронат
.partners.wrapper
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "http://www.photospilka.com"}
          %img{alt: "Національна спілка фотохудожників України", src: "/images/natsionalna-spilka-fotokhudozhnykiv-ukrainy-web.png"}
        %p  Патронат 01/2018
    .partner
      .partnerlogo
        %a{href: "http://www.image-sans-frontiere.com/"}
          %img{alt: "LABEL ISF 126/2015", src: "/images/image-sans-frontiere-web.png"}
        %p LABEL ISF 021/2018
-#        awards
.medals.wrapper#awards
  %h3 Нагороди
  .medals_container
    .medal
      %img{alt: "", src: "/images/medals/ISF-gold.png"}/
      %p Золота медаль <br> ISF
    .medal
      %img{alt: "", src: "/images/medals/ISF-silver.png"}/
      %p Срібна медаль <br> ISF
    .medal
      %img{alt: "", src: "/images/medals/ISF-bronze.png"}/
      %p Бронзова медаль <br> ISF
    .medal
      %img{alt: "", src: "/images/medals/medal-NSPAU-gold.png"}/
      %p Золота медаль <br> НСФХУ
    .medal
      %img{alt: "", src: "/images/medals/medal-NSPAU-silver.png"}/
      %p Срібна медаль <br> НСФХУ
    .medal
      %img{alt: "", src: "/images/medals/medal-NSPAU-bronze.png"}/
      %p Бронзова медаль <br> НСФХУ

.awards.wrapper
  %h3 Призи
  %p.center Призи та цінні подарунки від спонсорів та співорганізаторів і партнерів: фотоаксесуари, подарункові сертифікати, спеціальні призи.
  %p.center В процесі комплектації
  -# .awards_container
  -#   .award
  -#     %a{href: "http://www.prophoto.ua/products/tripod/41/144/"}
  -#       %img{alt: "Slik Pro 340 DX Leg", src: "/images/award_Slik-Pro-340-DX-Leg.jpg"}/
  -#     %p Штатив професійний Slik Pro 340 DX Leg
  -#   .award
  -#     %a{href: "http://www.prophoto.ua/products/278/1395/"}
  -#       %img{alt: "Lastolite TriGrip", src: "/images/award_Lastolite-TriGrip-120sm.jpg"}/
  -#     %p Відбивач трикутний Lastolite TriGrip 120 см
  -#   .award
  -#     %a{href: "http://www.prophoto.ua/products/42/1858/"}
  -#       %img{alt: "Slik SH-726E", src: "/images/award_Slik-SH-726E-Head.jpg"}/
  -#     %p Штативна головка Slik SH-726E
  -#   .award
  -#     %a{href: "http://www.prophoto.ua/products/tripod/amateur/1895/"}
  -#       %img{alt: "Photex FT 330A", src: "/images/award_Photex-FT-330A.jpg"}/
  -#     %p Штатив Photex FT 330A
  -#   .award
  -#     %a{href: "#"}
  -#       %img{alt: "Жорсткий диск Western Digital Elements 2TB від родини Войцюків", src: "/images/award_Western_Digital_Elements_2TB.jpg"}/
  -#     %p Жорсткий диск Western Digital Elements 2TB від родини Войцюків
  -#   .award
  -#     %a{href: "http://www.cyfrovychok.ua/"}
  -#       %img{alt: "www.cyfrovychok.ua", src: "/images/Tsyfrovychok-podarunkovyi-sertyfikat-na-3000-hrn.jpg"}/
  -#     %p Подарунковий сертифікат на 3000 грн купівлю товарів в інтернет-магазині Цифровичок
  -#   .award
  -#     %a{href: "http://www.cyfrovychok.ua/"}
  -#       %img{alt: "www.cyfrovychok.ua", src: "/images/Tsyfrovychok-podarunkovyi-sertyfikat-na-2000-hrn.jpg"}/
  -#     %p Подарунковий сертифікат на 2000 грн купівлю товарів в інтернет-магазині Цифровичок
  -#   .award
  -#     %a{href: "http://www.toshiba.eu/hard-drives/portable/canvio-ready/"}
  -#       %img{alt: "Жорсткий диск Toshiba Canvio Ready 500GB", src: "/images/Toshiba-Canvio-Ready-500GB.jpg"}/
  -#     %p Жорсткий диск Toshiba Canvio Ready 500GB
  -#   .award
  -#     %a{href: "http://www.cyfrovychok.ua/"}
  -#       %img{alt: "Рюкзак для фототехніки SUMDEX NRC-404BK", src: "/images/award_SUMDEX_NRC-404BK.jpg"}/
  -#     %p Рюкзак для фототехніки SUMDEX NRC-404BK
  -#   .award
  -#     %a{href: "http://www.cyfrovychok.ua/Rukzak-D-LEX-LXPB-4720R-BK-Black.html"}
  -#       %img{alt: "Рюкзак для фототехніки D-Lex LXPB-4720R-BK", src: "/images/award_D-Lex_LXPB-4720R-BK.jpg"}/
  -#     %p Рюкзак для фототехніки D-Lex LXPB-4720R-BK
  -#   .award
  -#     %a{href: "http://www.cyfrovychok.ua/"}
  -#       %img{alt: "Рюкзак для фототехніки RivaCase 7460 PS black", src: "/images/award_RivaCase_7460_PS_black.jpg"}/
  -#     %p Рюкзак для фототехніки RivaCase 7460 PS black
  -#   .award
  -#     %a{href: "http://www.sako.com.ua/"}
  -#       %img{alt: "www.sako.com.ua", src: "/images/Podarunkovyi-sertyfikat-na-druk-fotohrafii-Sako.jpg"}/
  -#     %p Подарунковий сертифікат на друк фотографій в мережі «Сако»
  -#   .award
  -#     %a{href: "https://www.kingston.com/en/usb/personal_business/dtduo3"}
  -#       %img{alt: "Kingston DataTraveler microDuo 3.0 32GB", src: "/images/Kingston-DataTraveler-microDuo-32GB.jpg"}/
  -#     %p Накопичувач Kingston DataTraveler microDuo 3.0 32GB
  -#   .award
  -#     %a{href: "https://www.kingston.com/en/usb/personal_business/dtduo3"}
  -#       %img{alt: "Kingston DataTraveler microDuo 3.0 16GB", src: "/images/Kingston-DataTraveler-microDuo-16GB.jpg"}/
  -#     %p Накопичувач Kingston DataTraveler microDuo 3.0 16GB

  -# %p.notice А також спеціальні призи від Дизайн-студії Марії Волосовської, Центру Сучасного Мистецтва, ТОВ «Гайдай Студія», Компанії «Амвей», Платформи «Тепле Місто», Газети «День».

.sponsors.wrapper.center#partners
  %h3 Спонсори
  %a{href: "http://www.slik.com.ua/"}
    %img{alt: "SLIK", title: "SLIK", src: "/images/Slik-web.png"}
  %a{href: "http://www.prophoto.ua/"}
    %img{alt: "ПРОФОТО", title: "ПРОФОТО", src: "/images/prophoto-web.png"}
  -# %a{href: "#"}
  -#   %img{alt: "PHOTEX", title: "PHOTEX", src: "/images/PHOTEX-web.png"}
  -# %a{href: "http://www.cyfrovychok.ua/"}
  -#   %img{alt: "Цифровичок", title: "Цифровичок", src: "/images/Tsyfrovychok-web.png"}
  -# %a{href: "http://manfrotto.com.ua/"}
  -#   %img{alt: "Manfrotto", title: "Manfrotto", src: "/images/manfrotto-web.png"}
  %a{href: "http://halytska.if.ua/"}
    %img{alt: "Страхова компанія «Галицька»", title: "Страхова компанія «Галицька»", src: "/images/halytska-web.png"}
  %a{href: "http://www.kuvert.com.ua"}
    %img{alt: "Kuvert Ukraine", title: "Kuvert Ukraine", src: "/images/kuvert-ukraine-web.png"}
  %a{href: "https://www.amway.ua/"}
    %img{alt: "Amway", title: "Amway", src: "/images/amway-web.png"}
  -# %a{href: "#"}
  -#   %img{alt: "Фото-відео студія в ратуші", title: "Фото-відео студія в ратуші", src: "/images/foto-video-studiia-v-ratushi-web.png"}
  -# %a{href: "#"}
  -#   %img{alt: "Прометей фото студія", title: "Прометей фото студія", src: "/images/prometey-web.jpg"}
  %a{href: "http://carpatiia.ua/"}
    %img{alt: "Карпатія", title: "Карпатія", src: "/images/karpatiia-web.png"}
  %a{href: "http://sako.com.ua/"}
    %img{alt: "Сако", title: "Сако", src: "/images/Sako-web.png"}
  -# %a{href: "http://vk.com/expresia"}
  -#   %img{alt: "Фотосалон «Експресія»", title: "Фотосалон «Експресія»", src: "/images/fotosalon-ekspresiia-web.png"}
  %a{href: "http://franko.if.ua/"}
    %img{alt: "Ресторан «Франко»", title: "Ресторан «Франко»", src: "/images/fran-ko-web.png"}
  %a{href: "http://csm.if.ua/"}
    %img{alt: "Центр Сучасного Мистецтва", title: "Центр Сучасного Мистецтва", src: "/images/tsentr-suchasnoho-mystetstva-web.png"}
  %a{href: "http://mvolosovska.com.ua/"}
    %img{alt: "Дизайн-студія Марії Волосовської", title: "Дизайн-студія Марії Волосовської", src: "/images/Dyzain-studiia-Marii-Volosovskoi-web.png"}
  %a{href: "#"}
    %img{alt: "Станіславська випічка", title: "Станіславська випічка", src: "/images/stanislavska-vypichka-web.png"}
  %a{href: "#"}
    %img{alt: "Kaffee Kultur", title: "Kaffee Kultur", src: "/images/kk.jpg"}
  -# %a{href: "http://warm.if.ua/"}
  -#   %img{alt: "Платформа «Тепле Місто»", title: "Платформа «Тепле Місто»", src: "/images/teple-misto-web.png"}
  %a{href: "http://nplusk.com"}
    %img{alt: "N+K Architectvra", title: "N+K Architectvra", src: "/images/nplusk-web.png"}
  -# %a{href: "https://www.facebook.com/fabrykakavyif/"}
  -#   %img{alt: "Фабрика кави", title: "Фабрика кави", src: "/images/fabryka-kavy-web.png"}
  %a{href: "https://day.kyiv.ua/"}
    %img{alt: "День", title: "День", src: "/images/Den-web.png"}
  %a{href: "http://www.1043.com.ua/"}
    %img{alt: "Західний полюс", title: "Західний полюс", src: "/images/Zakhidnyi-polius-web.png"}
  %a{href: "#"}
    %img{alt: "Фотофонд", title: "Фотофонд", src: "/images/ffond.jpg"}

.partners.wrapper
  %h3 Інформаційна підтримка
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "http://24tv.ua/"}
          %img{alt: "24 Канал", title: "24 Канал", src: "/images/24-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://artmisto.com/"}
          %img{alt: "Artmisto.com", title: "Artmisto.com", src: "/images/artmisto-web.png"}
    -# .partner
    -#   .partnerlogo
    -#     %a{href: "http://artes.in.ua/"}
    -#       %img{alt: "Artes.in.ua", title: "Artes.in.ua", src: "/images/Artes-in-ua-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://funphoto.ua/"}
          %img{alt: "funphoto.ua", title: "funphoto.ua", src: "/images/funphoto-web.png"}
    -# .partner
    -#   .partnerlogo
    -#     %a{href: "http://versal.media/"}
    -#       %img{alt: "Versal", title: "Versal", src: "/images/Versal-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.ap.if.ua/"}
          %img{alt: "Афіша Прикарпаття", title: "Афіша Прикарпаття", src: "/images/Afisha-Prykarpattia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.blitz.if.ua/"}
          %img{alt: "Бліц Інфо", title: "Бліц Інфо", src: "/images/blits-info-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://briz.if.ua/"}
          %img{alt: "БРІЗ", title: "БРІЗ", src: "/images/Briz-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.vezha.org/"}
          %img{alt: "Вежа", title: "Вежа", src: "/images/Vezha-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/TysmenyckaVpered/"}
          %img{alt: "Вперед", title: "Вперед", src: "/images/Vpered-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.galychyna.if.ua/"}
          %img{alt: "Газета «Галичина»", title: "Газета «Галичина»", src: "/images/halychyna-hazeta-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.galka.if.ua/"}
          %img{alt: "Агенція новин Galka.if.ua", title: "Агенція новин Galka.if.ua", src: "/images/Galka-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://photogaidai.com/"}
          %img{alt: "Гайдай Студія", title: "Гайдай Студія", src: "/images/gaidai-studio-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/GalleryKamera/"}
          %img{alt: "Галерея Камера", title: "Галерея Камера", src: "/images/halereia-kamera-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://gk-press.if.ua/"}
          %img{alt: "Галицький кореспондент", title: "Галицький кореспондент", src: "/images/Halytskyi-korespondent-web.png"}
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "Голос народу", title: "Голос народу", src: "/images/Holos-narodu-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.prostir.ua/"}
          %img{alt: "Громадський простір", title: "Громадський простір", src: "/images/Hromadskyi-prostir-web.png"}
    -# .partner
    -#   .partnerlogo
    -#     %a{href: "https://day.kyiv.ua/"}
    -#       %img{alt: "День", title: "День", src: "/images/Den-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://kuryer-if.info/"}
          %img{alt: "Західний кур’єр", title: "Західний кур’єр", src: "/images/Zakhidnyi-kurier-web.png"}
    -# .partner
    -#   .partnerlogo
    -#     %a{href: "http://www.1043.com.ua/"}
    -#       %img{alt: "Західний полюс", title: "Західний полюс", src: "/images/Zakhidnyi-polius-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.youtube.com/channel/UChwxMaGGTl9rY-vnepp80ZA"}
          %img{alt: "Канал 402", title: "Канал 402", src: "/images/402-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://odtrk.if.ua/"}
          %img{alt: "ОДТРК Карпати", title: "ОДТРК Карпати", src: "/images/ODTRK-Karpaty-web.png"}
    -# .partner
    -#   .partnerlogo
    -#     %a{href: "http://www.svitlytsia.in.ua/"}
    -#       %img{alt: "Кримська Світлиця", title: "Кримська Світлиця", src: "/images/krymska-svitlytsia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://cultua.media/gazeta-kultura-zhittja"}
          %img{alt: "Культура і життя", title: "Культура і життя", src: "/images/kultura-i-zhyttia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://kurs.if.ua/"}
          %img{alt: "Курс", title: "Курс", src: "/images/Kurs-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.opishne-museum.gov.ua/"}
          %img{alt: "Національний музей-заповідник українського гончарства в Опішному", title: "Національний музей-заповідник українського гончарства в Опішному", src: "/images/natsionalnyi-muzei-zapovidnyk-ukrainskoho-honcharstva-v-opishnomu-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.newskraine.com.ua/"}
          %img{alt: "Новини Країни", title: "Новини Країни", src: "/images/novyny-krainy-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://galtv.if.ua/"}
          %img{alt: "Обласне телебачення Галичина", title: "Обласне телебачення Галичина", src: "/images/Halychyna-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://postup.if.ua/"}
          %img{alt: "Поступовий гурт франківців", title: "Поступовий гурт франківців", src: "/images/postupovyi-hurt-frankivtsiv-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://radiomap.eu/ua/play/dzvony"}
          %img{alt: "Радіо Дзвони", title: "Радіо Дзвони", src: "/images/radio-dzvony-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://trkrai.com/"}
          %img{alt: "ТРК РАІ", title: "ТРК РАІ", src: "/images/trkrai-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://report.if.ua/"}
          %img{alt: "Репортер", title: "Репортер", src: "/images/Reporter-web.png"}
    -# .partner
    -#   .partnerlogo
    -#     %a{href: "https://www.instagram.com/gorichok/"}
    -#       %img{alt: "Сергій Горічок", title: "Сергій Горічок", src: "/images/serhii-horichok-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.tt.if.ua/"}
          %img{alt: "Телебачення Тисмениці", title: "Телебачення Тисмениці", src: "/images/Telebachennia-tysmenytsi-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.youtube.com/user/ifstudio3"}
          %img{alt: "Третя Студія", title: "Третя Студія", src: "/images/3-studiia-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.ukrinform.ua/"}
          %img{alt: "Укрінформ", title: "Укрінформ", src: "/images/Ukrinform-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://photography.in.ua/"}
          %img{alt: "Українська фотографія", title: "Українська фотографія", src: "/images/ukrainska-fotohrafiia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://ukrfoto.org/"}
          %img{alt: "Український центр фотомистецтва", title: "Український центр фотомистецтва", src: "/images/ukrainskyi-tsentr-fotomystetstva-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://fotoafisha.com/"}
          %img{alt: "Фотоафіша", title: "Фотоафіша", src: "/images/fotoafisha-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/1573234386285085/"}
          %img{alt: "Яремчанський вісник", title: "Яремчанський вісник", src: "/images/yaremchanskyi-visnyk-web.png"}
.medals.wrapper#catalogs
  %h3 Результати попередніх конкурсів
  .medals_container

    %a.pdf{href: "/catalogs/Nature2006.pdf"}
      2006
      %img{src: '/images/cat/2006.jpg'}
    %a.pdf{href: "/catalogs/Nature2010.pdf"}
      2010
      %img{src: '/images/cat/2010.jpg'}
    %a.pdf{href: "/catalogs/Nature2012.pdf"}
      2012
      %img{src: '/images/cat/2012.jpg'}
    %a.pdf{href: "/catalogs/Nature2016.pdf"}
      2016
      %img{src: '/images/cat/2016.jpg'}


-#        jury
.jury#jury
  .jury_wrap
    %h3 Журі
    .block
      %a.member
        //{href: 'http://www.glib.vysheslavsky.name/index.html'}
        %img{alt: "Роман Михайлюк", src: "/images/mh+.jpg"}
      .content
        %p.title
          Роман Михайлюк
          %br/
          %span НСФХУ, Івано-Франківськ
        %p
          Фотографією займається вже 20 років. 10 з них — професійно. Знімає здебільшого пейзажі та етнографічні замальовки, репортаж. Автор фотокниги «Коло вічності українських Карпат» видавництва «Балтія друк». Крім України, його роботи виставлялись в Німеччині, Польщі, США та ін.
    .block
      %a.member
        //{href: 'http://photogaidai.com/'}
        %img{alt:"Віктор Нагорний", src: "/images/nag+2.jpg"}
      .content
        %p.title
          Віктор Нагорний
          %br/
          %span НСФХУ, Київ
        %p
          Відомий український фотограф, викладач, бізнесмен, колекціонер і дослідник фотографії. Є засновником однієї з найкращих в Україні лабораторій із друку фотографії, якою користуються багато авторитетних фотографів та художників країни. Віктор працює в основному із плівковими технологіями. У творчості займається експериментами в області концептуального пейзажу.
    .block
      %a.member
        //{href: 'https://www.facebook.com/gorichok'}
        %img{alt:"Катажина Варанська", src: "/images/kate+.jpg"}
      .content
        %p.title
          Катажина Варанська
          %br/
          %span RSF, Жешув
        %p
          Фотограф, архітектор ландшафтів та інтер&#39;єрів, соціальний працівник, організатор, натураліст і мандрівник. Є членом Фотографічної асоціації в Жешові (RSF) (2011), організатором фотовиставок в галереї RSF Faultless. З 2013 р. інструктор туристичної фотографії на PTTK. Фотографує ландшафти та людей, також захоплюється документальною і жанровою фотографією. Автор 3 персональних виставок фотографій (2012-2017р.р.), з 2012 року приймає участь в колективних фотовиставках, як в Польші, так і зарубіжних країнах.

%footer.wrapper
  %a.fb_logo{href: "https://www.facebook.com"}

    %img{alt: "fb_logo", src: "/images/fb_logo.png"}
  .adress
    %p
      Івано­-Франківська обласна організація
      Національної спілки фотохудожників України
      %br
      (НСФХУ)
      %br
      а/с 2, 76018 Івано-Франківськ
  %p +38 (097) 302-20-76
  %p info@biennalenature.org
  %br
  %p © 2007–2018
